/* color #e1bee7 - purple lighten-4 */
:root {
    --mainColor: #e1bee7;
    --fontColor: #494e52;
    --footerBackground: #f2f3f3;
    --footerBorderColor: #bdc1c4;
}

html {
    height: 100% !important;
    box-sizing: border-box !important;
}

*,
*:before,
*:after {
    box-sizing: inherit !important;
}

body {
    position: relative !important;
    margin: 0 !important;
    padding-bottom: 12rem !important;
    min-height: 100% !important;

    color: var(--fontColor) !important;
    line-height: 1.5 !important;
}

a {
    color: var(--fontColor) !important;
}

.animate_link:hover {
    background: linear-gradient(
            to right,
            var(--mainColor) 0%,
            var(--mainColor) 5px,
            transparent
    );
}