/* color #e1bee7 - purple lighten-4 */
:root {
    --mainColor: #e1bee7;
    --fontColor: #494e52
}

body {
    color: var(--fontColor) !important;
    line-height: 1.5 !important;
    font-size: 1.15em;
}

a {
    color: var(--fontColor) !important;
}